*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --main-color: #536DFE;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    scroll-behavior: smooth;

    & .menu{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        z-index: 200;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        transform: translateX(-100%);

        & .mHead{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 6rem;
            border-bottom: 2px solid white;
            padding: 0 2rem;
            transition: all 0.5s;

            & .close{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 50%;
                cursor: pointer;

                & img{
                    width: 100%;
                    height: 100%;
                }
            }

            & .home{
                color: white;
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
            }
        }

        & .mBody{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: calc(100% - 10rem);

            & nav{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 3rem;
                width: 90%;

                & a{
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    width: 100%;
                    text-decoration: none;
                    padding: 0.5rem;
                    transition: all 0.5s;

                    & figure{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 5rem;
                        height: 5rem;
                        border: solid 1px white;
                        border-radius: 50%;
                        padding: 0.5rem;

                        & img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    & p{
                        color: white;
                        font-size: 3rem;
                    }

                    &:hover{
                        background-color: rgba(255, 255, 255, 0.35);
                        border-radius: 2rem;
                        font-size: xx-large;
                        font-weight: bold;
                    }
                }
            }
        }

        & .mfooter{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 5rem;
            border-top: 2px solid white;
            padding: 0 2rem;
            transition: all 0.5s;

            & span{
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: x-large;
                text-align: center;
            }
        }
    }

    & .articleDetails{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 100dvh;
        background-color: white;
        z-index: 0;
        opacity: 0;
        overflow-y: scroll;
        scroll-behavior: smooth;
        transition: all 0.5s ease-in-out;
        padding-bottom: 2rem;

        & .sHead{
            position: sticky;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 2rem;
            background-color: var(--main-color);
            z-index: 10;

            & a{
                color: white;
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
            }

            & figure{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                border: solid 1px white;
                border-radius: 50%;
                padding: 0.1rem;

                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        & .sBody{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            width: 100%;

            & .screen{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 100%;
                padding: 0 2rem;

                & .mainImg{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 70rem;
                    border-radius: 1rem;
                    overflow: hidden;

                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                & ul{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    width: 100%;
                    list-style: none;

                    & li{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 33.33%;
                        height: 25rem;
                        border-radius: 1rem;
                        overflow: hidden;

                        & img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                & .call{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: auto;
                    background-color: var(--main-color);
                    border-radius: 1rem;
                    color: white;
                    font-size: 2rem;
                    font-weight: bold;
                    padding: 1rem;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;

                    &:hover{
                        font-weight: bold;
                    }
                }
            }

            & .det{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                min-height: 15rem;
                font-size: 2rem;
                padding: 0 2rem;

                & h4{
                    font-size: 3rem;
                }
            }
        }

        & .sFoot{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 0 2rem;

            & h3{
                align-self: flex-start;
                color: var(--main-color);
                font-size: 2rem;
            }

            & .skills{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                & ul{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    list-style: none;
                    text-align: center;
                    padding: 0 2rem;

                    & li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        width: 33.33%;

                        & figure{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 12rem;
                            height: 12rem;
                            background-color: var(--main-color);
                            border-radius: 50%;
                            padding: 2rem;

                            & img{
                                width: 100%;
                                height: 100%;
                            }
                        }

                        & figcaption{
                            color: var(--main-color);
                            font-size: x-large;
                        }
                    }
                }
            }
        }
    }

    & header{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
        background-color: var(--main-color);
        padding: 0 2rem;
        transition: all 0.5s;
        z-index: 100;

        & figure{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;

            & img{
                width: 100%;
                height: 100%;
            }
        }

        & .sun{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;

            & img{
                width: 100%;
                height: 100%;
            }
        }

        & .menuOpen{
            cursor: pointer;
        }

        & .home{
            color: white;
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
        }

        & nav{
            display: none;
        }
    }

    & main{
        position: relative;
        top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        width: 100%;
        scroll-behavior: smooth;
        padding-bottom: 1rem;

        .sliderImg {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;
            position: relative;

            & .screen {
                width: 100%;
                height: 50rem;
                overflow: hidden;
                position: relative;

                & #imageCarousel {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    transition: transform 0.5s ease-in-out;

                    & li {
                        min-width: 100%;
                        height: 100%;
                        flex-shrink: 0;

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            & .btn {
                display: flex;
                align-items: center;
                gap: 3rem;

                & button {
                    cursor: pointer;
                    background-color: var(--main-color);
                    border: none;
                    border-radius: 0.5rem;
                    padding: 0.5rem;

                    & img {
                        width: 4rem;
                        height: 4rem;
                    }
                }

                #indicatorDots {
                    display: flex;
                    gap: 2rem;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        cursor: pointer;
                        width: 2rem;
                        height: 2rem;
                        background-color: var(--main-color);
                        border-radius: 50%;
                        transition: background-color 0.3s ease;

                        &.active {
                            background-color: black;
                        }
                    }
                }
            }
        }

        & .skills{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            & ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                width: 100%;
                list-style: none;
                padding: 0 2rem;

                & li{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: 33.33%;

                    & figure{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 15rem;
                        height: 15rem;
                        border: 2px solid var(--main-color);
                        border-radius: 50%;
                        padding: 2rem;

                        & img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    & figcaption{
                        color: var(--main-color);
                        font-size: 3rem;
                        text-align: center;
                    }
                }
            }
        }

        & article{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            width: 100%;

            & h1{
                color: var(--main-color);
                font-size: 4rem;
                margin-left: 2rem;
            }

            & ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4rem;
                width: 100%;
                list-style: none;

                & li{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    width: 100%;
                    box-shadow: 0px 0px 8px 2px #536dfe;
                    padding: 1rem 0;

                    & figure{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 80rem;

                        & img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .det{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 2rem;
                        width: 100%;
                        font-size: 2rem;
                        padding: 0 2rem;

                        & .more{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            font-size: x-large;

                            & .see{
                                background-color: var(--main-color);
                                border: none;
                                border-radius: 0.5rem;
                                color: white;
                                font-size: 2rem;
                                font-weight: bold;
                                padding: 0.5rem 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    body{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        scroll-behavior: smooth;

        & .menu{
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            background-color: var(--main-color);
            z-index: 200;
            transition: all 0.5s ease-in-out;
            opacity: 0;
            transform: translateX(-100%);

            & .mHead{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 8rem;
                border-bottom: 2px solid white;
                padding: 0 2rem;
                transition: all 0.5s;

                & .close{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5rem;
                    height: 5rem;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 50%;
                    cursor: pointer;

                    & img{
                        width: 100%;
                        height: 100%;
                    }
                }

                & .home{
                    color: white;
                    font-size: 5.5rem;
                    font-weight: bold;
                    text-decoration: none;
                }
            }

            & .mBody{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: calc(100% - 10rem);

                & nav{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 3rem;
                    width: 90%;

                    & a{
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        width: 100%;
                        text-decoration: none;
                        padding: 0.5rem;
                        transition: all 0.5s;

                        & figure{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 5rem;
                            height: 5rem;
                            border: solid 1px white;
                            border-radius: 50%;
                            padding: 0.5rem;

                            & img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        & p{
                            color: white;
                            font-size: 3rem;
                        }

                        &:hover{
                            background-color: rgba(255, 255, 255, 0.35);
                            border-radius: 2rem;
                            font-size: xx-large;
                            font-weight: bold;
                        }
                    }
                }
            }

            & .mfooter{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 5rem;
                border-top: 2px solid white;
                padding: 0 2rem;
                transition: all 0.5s;

                & span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: x-large;
                    text-align: center;
                }
            }
        }

        & .articleDetails{
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            width: 100%;
            height: 100dvh;
            background-color: white;
            z-index: 0;
            opacity: 0;
            overflow-y: scroll;
            scroll-behavior: smooth;
            transition: all 0.5s ease-in-out;
            padding-bottom: 2rem;

            & .sHead{
                position: sticky;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                background-color: var(--main-color);
                z-index: 10;
                padding: 1rem 12rem;

                & a{
                    color: white;
                    font-size: 2rem;
                    font-weight: bold;
                    text-decoration: none;
                }

                & figure{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 3rem;
                    height: 3rem;
                    border: solid 1px white;
                    border-radius: 50%;
                    padding: 0.1rem;

                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            & .sBody{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3rem;
                width: 100%;
                padding: 0 12rem;

                & .screen{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: 100%;

                    & .mainImg{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 60rem;
                        border-radius: 1rem;
                        overflow: hidden;

                        & img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    & ul{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        width: 100%;
                        list-style: none;

                        & li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 33.33%;
                            height: 25rem;
                            border-radius: 1rem;
                            overflow: hidden;

                            & img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    & .call{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        width: auto;
                        background-color: var(--main-color);
                        border-radius: 1rem;
                        color: white;
                        font-size: 3rem;
                        padding: 1rem;
                        text-decoration: none;
                        transition: all 0.5s ease-in-out;

                        &:hover{
                            font-weight: bold;
                        }
                    }
                }

                & .det{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    min-height: 15rem;
                    font-size: 2.5rem;
                    padding: 0 2rem;

                    & h4{
                        font-size: 3rem;
                    }
                }
            }

            & .sFoot{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                width: 100%;
                padding: 0 12rem;

                & h3{
                    align-self: flex-start;
                    color: var(--main-color);
                    font-size: 4rem;
                }

                & .skills{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    & ul{
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        width: 100%;
                        list-style: none;
                        text-align: center;
                        padding: 0 2rem;

                        & li{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;
                            width: 33.33%;

                            & figure{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 15rem;
                                height: 15rem;
                                background-color: var(--main-color);
                                border-radius: 50%;
                                padding: 2rem;

                                & img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            & figcaption{
                                color: var(--main-color);
                                font-size: xx-large;
                            }
                        }
                    }
                }
            }
        }

        & header{
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 4rem;
            background-color: var(--main-color);
            padding: 0 12rem;
            transition: all 0.5s;
            z-index: 100;

            & figure{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6rem;
                height: 6rem;

                & img{
                    width: 100%;
                    height: 100%;
                }
            }

            & .sun{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;

                & img{
                    width: 100%;
                    height: 100%;
                }
            }

            & .menuOpen{
                display: none;
                cursor: pointer;
            }

            & .home{
                color: white;
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }

            & nav{
                display: flex;
                align-items: center;
                gap: 4rem;
                height: 100%;

                & a{
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;
                    height: 100%;
                    text-decoration: none;
                    color: white;
                    transition: all 0.5s ease-in-out;

                    & figure{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2rem;
                        height: 2rem;

                        & img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &:hover{
                        background-color: rgba(255, 255, 255, 0.35);
                        border-radius: 0.5rem;
                        font-size: larger;
                        font-weight: 570;
                        padding: 0.5rem;
                    }
                }
            }
        }

        & main{
            position: relative;
            top: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            width: 100%;
            scroll-behavior: smooth;
            padding-bottom: 1rem;

            & .sliderImg{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                width: 100%;
                padding: 0 12rem;

                & .screen{
                    display: flex;
                    align-items: center;
                    width: 80%;
                    height: 50rem;
                    border-radius: 2rem;
                    overflow: hidden;

                    & ul{
                        display: flex;
                        align-items: center;
                        list-style: none;
                        width: 100%;
                        height: 100%;

                        & li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;

                            & img{
                                width: 100vw;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }

                & .btn{
                    display: flex;
                    align-items: center;
                    gap: 3rem;

                    & button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--main-color);
                        border: none;
                        border-radius: 0.5rem;
                        text-align: center;
                        padding: 0.5rem;

                        & img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    & ul{
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        list-style: none;

                        & li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 2rem;
                            height: 2rem;
                            background-color: var(--main-color);
                            border-radius: 2rem;

                            &:nth-child(1){
                                background-color: black;
                            }
                        }
                    }
                }
            }

            & .skills{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                & ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    width: 100%;
                    list-style: none;
                    padding: 0 2rem;

                    & li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        width: 33.33%;

                        & figure{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 15rem;
                            height: 15rem;
                            border: 2px solid var(--main-color);
                            border-radius: 50%;
                            padding: 2rem;

                            & img{
                                width: 100%;
                                height: 100%;
                            }
                        }

                        & figcaption{
                            color: var(--main-color);
                            font-size: 1.8rem;
                            text-align: center;
                        }
                    }
                }
            }

            & article{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                width: 100%;
                padding: 0 12rem;

                & h1{
                    color: var(--main-color);
                    font-size: 2.5rem;
                    margin-left: 2rem;
                }

                & ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2rem;
                    width: 100%;
                    list-style: none;

                    & li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;
                        width: 80%;
                        box-shadow: 0px 0px 8px 2px var(--main-color);
                        border-radius: 1rem;
                        padding: 1rem 0;

                        & figure{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 35rem;

                            & img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .det{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-between;
                            gap: 2rem;
                            width: 100%;
                            font-size: 2rem;
                            padding: 0 2rem;

                            & .more{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                font-size: large;

                                & .see{
                                    background-color: var(--main-color);
                                    border: none;
                                    border-radius: 0.5rem;
                                    color: white;
                                    font-size: 2rem;
                                    padding: 0.5rem 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}