<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mr Echaffaudage</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="menu">
        <div class="mHead">
            <a class="home" href="home.html">Mr Echaffaudage</a>
            <button class="close">
                <img src="../static/images/menuClose.png" alt="menu close">
            </button>
        </div>
        <div class="mBody">
            <nav>
                <a href="./services.html">
                    <figure><img src="../static/images/services.png" alt="services"></figure>
                    <p>Services</p>
                </a>
                <a href="./contact.html">
                    <figure><img src="../static/images/contact.png" alt="contact"></figure>
                    <p>Contacts</p>
                </a>
                <a href="./notify.html">
                    <figure><img src="../static/images/notifications.png" alt="notifications"></figure>
                    <p>Notifications</p>
                </a>
            </nav>
        </div>
        <div class="mfooter">
            <span>&copy;Copyright 2025; Mr Echaffaudage. tout droits reserve !</span>
        </div>
    </div>

    <section class="articleDetails">
        <div class="sHead">
            <a href="home.html">Mr Echaffaudage</a>
            <figure id="close"><img src="../static/images/menuClose.png" alt=""></figure>
        </div>
        <div class="sBody">
            <div class="screen">
                <figure class="mainImg"><img src="../static/images/im4.jpeg" alt="im4"></figure>
                <ul>
                    <li><img src="../static/images/im4.jpeg" alt="im4"></li>
                    <li><img src="../static/images/im4.jpeg" alt="im4"></li>
                    <li><img src="../static/images/im4.jpeg" alt="im4"></li>
                </ul>
                <a href="./contact.html" class="call">
                    <figure><img src="../static/images/call.png" alt="smartphone"></figure>
                    <p>Me contacter pour ce service</p>
                </a>
            </div>
            <div class="det">
                <h4>Pose d'un echaffaudage a Longpom</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, assumenda et eum excepturi exercitationem laborum mollitia non odio placeat sunt. Autem consectetur consequuntur officiis provident.
                </p>
            </div>
        </div>
        <div class="sFoot">
            <h3>Notes sur ce service</h3>
            <section class="skills">
                <ul>
                    <li>
                        <figure>
                            <img src="../static/images/marks.png" alt="marks">
                        </figure>
                        <figcaption>a ete note +4.5/5</figcaption>
                    </li>
                    <li>
                        <figure>
                            <img src="../static/images/satisfied.png" alt="satisfied">
                        </figure>
                        <figcaption>+15 clients satisfaits</figcaption>
                    </li>
                    <li>
                        <figure>
                            <img src="../static/images/recommend.png" alt="recommend">
                        </figure>
                        <figcaption>+20 recommendations</figcaption>
                    </li>
                </ul>
            </section>
        </div>
    </section>

    <header>
        <figure class="menuOpen">
            <img src="../static/images/menuOpen.png" alt="menuOpen">
        </figure>
        <a href="home.html" class="home">Mr Echaffaudage</a>
        <nav>
            <a href="./services.html">
                <figure><img src="../static/images/services.png" alt="services"></figure>
                <p>Services</p>
            </a>
            <a href="./contact.html">
                <figure><img src="../static/images/contact.png" alt="contact"></figure>
                <p>Contacts</p>
            </a>
            <a href="./notify.html">
                <figure><img src="../static/images/notifications.png" alt="notifications"></figure>
                <p>Notifications</p>
            </a>
        </nav>
        <figure class="sun">
            <img src="../static/images/sun.png" alt="sun">
        </figure>
    </header>

    <main>
        <section class="sliderImg">
            <div class="screen">
                <ul>
                    <li>
                        <img src="../static/images/im4.jpeg" alt="im4">
                    </li>
                    <li>
                        <img src="../static/images/im12.jpeg" alt="im12">
                    </li>
                    <li>
                        <img src="../static/images/im14.jpeg" alt="im14">
                    </li>
                    <li>
                        <img src="../static/images/im15.jpeg" alt="im15">
                    </li>
                    <li>
                        <img src="../static/images/im11.jpeg" alt="im11">
                    </li>
                </ul>
            </div>
            <div class="btn">
                <button class="left">
                    <img src="../static/images/arrowLeft.png" alt="arrowLeft">
                </button>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <button class="right">
                    <img src="../static/images/arrowRight.png" alt="arrowRight">
                </button>
            </div>
        </section>
        <section class="skills">
            <ul>
                <li>
                    <figure>
                        <img src="../static/images/devis.png" alt="devis">
                    </figure>
                    <figcaption>Devis</figcaption>
                </li>
                <li>
                    <figure>
                        <img src="../static/images/assistance.png" alt="assistance">
                    </figure>
                    <figcaption>Assistance</figcaption>
                </li>
                <li>
                    <figure>
                        <img src="../static/images/expertise.png" alt="expertise">
                    </figure>
                    <figcaption>Expertise</figcaption>
                </li>
            </ul>
        </section>
        <article>
            <h1>Quoi de neuf chez nous?</h1>
            <ul>
                <li>
                    <figure>
                        <img src="../static/images/im2.jpeg" alt="im2">
                    </figure>
                    <div class="det">
                        <h2>Pose d'un echaffaudage a Longpom</h2>
                        <p>
                            Nous etions ravis d'effectuer ce jours.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at exercitationem perspiciatis possimus quaerat quam quas, repellat repellendus suscipit. Velit! repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!
                        </p>
                        <div class="more">
                            <button class="see">Consulter cet article</button>
                            <div class="date">
                                <p>Redige le <span class="day">20/02/2025</span> a <span class="time">15h00</span></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="../static/images/im3.jpeg" alt="im2">
                    </figure>
                    <div class="det">
                        <h2>Pose d'un echaffaudage a Longpom</h2>
                        <p>
                            Nous etions ravis d'effectuer ce jours.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at exercitationem perspiciatis possimus quaerat quam quas, repellat repellendus suscipit. Velit! repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!
                        </p>
                        <div class="more">
                            <button class="see">Consulter cet article</button>
                            <div class="date">
                                <p>Redige le <span class="day">20/02/2025</span> a <span class="time">15h00</span></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="../static/images/im4.jpeg" alt="im2">
                    </figure>
                    <div class="det">
                        <h2>Pose d'un echaffaudage a Longpom</h2>
                        <p>
                            Nous etions ravis d'effectuer ce jours.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at exercitationem perspiciatis possimus quaerat quam quas, repellat repellendus suscipit. Velit! repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!
                        </p>
                        <div class="more">
                            <button class="see">Consulter cet article</button>
                            <div class="date">
                                <p>Redige le <span class="day">20/02/2025</span> a <span class="time">15h00</span></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="../static/images/im5.jpeg" alt="im2">
                    </figure>
                    <div class="det">
                        <h2>Pose d'un echaffaudage a Longpom</h2>
                        <p>
                            Nous etions ravis d'effectuer ce jours.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at exercitationem perspiciatis possimus quaerat quam quas, repellat repellendus suscipit. Velit! repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!
                        </p>
                        <div class="more">
                            <button class="see">Consulter cet article</button>
                            <div class="date">
                                <p>Redige le <span class="day">20/02/2025</span> a <span class="time">15h00</span></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="../static/images/im6.jpeg" alt="im2">
                    </figure>
                    <div class="det">
                        <h2>Pose d'un echaffaudage a Longpom</h2>
                        <p>
                            Nous etions ravis d'effectuer ce jours.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at exercitationem perspiciatis possimus quaerat quam quas, repellat repellendus suscipit. Velit! repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!
                        </p>
                        <div class="more">
                            <button class="see">Consulter cet article</button>
                            <div class="date">
                                <p>Redige le <span class="day">20/02/2025</span> a <span class="time">15h00</span></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="../static/images/im7.jpeg" alt="im2">
                    </figure>
                    <div class="det">
                        <h2>Pose d'un echaffaudage a Longpom</h2>
                        <p>
                            Nous etions ravis d'effectuer ce jours.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at exercitationem perspiciatis possimus quaerat quam quas, repellat repellendus suscipit. Velit! repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!repellendus suscipit. Velit!
                        </p>
                        <div class="more">
                            <button class="see">Consulter cet article</button>
                            <div class="date">
                                <p>Redige le <span class="day">20/02/2025</span> a <span class="time">15h00</span></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </article>
    </main>

    <script src="../static/js/home.js" defer></script>
</body>
</html>