<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <link rel="stylesheet" href="../static/css/notify.css">
</head>
<body>
    <div class="menu">
        <div class="mHead">
            <a class="home" href="index.html">Mr Echaffaudage</a>
            <button class="close">
                <img src="../static/images/menuClose.png" alt="menu close">
            </button>
        </div>
        <div class="mBody">
            <nav>
                <a href="./services.html">
                    <figure><img src="../static/images/services.png" alt="services"></figure>
                    <p>Services</p>
                </a>
                <a href="./contact.html">
                    <figure><img src="../static/images/contact.png" alt="contact"></figure>
                    <p>Contacts</p>
                </a>
                <a href="./notify.html">
                    <figure><img src="../static/images/notifications.png" alt="notifications"></figure>
                    <p>Notifications</p>
                </a>
            </nav>
        </div>
        <div class="mfooter">
            <span>&copy;Copyright 2025; Mr Echaffaudage. tout droits reserve !</span>
        </div>
    </div>

    <header>
        <figure class="menuOpen">
            <img src="../static/images/menuOpen.png" alt="menuOpen">
        </figure>
        <a href="index.html" class="home">Mr Echaffaudage</a>
        <nav>
            <a href="./services.html">
                <figure><img src="../static/images/services.png" alt="services"></figure>
                <p>Services</p>
            </a>
            <a href="./contact.html">
                <figure><img src="../static/images/contact.png" alt="contact"></figure>
                <p>Contacts</p>
            </a>
            <a href="./notify.html">
                <figure><img src="../static/images/notifications.png" alt="notifications"></figure>
                <p>Notifications</p>
            </a>
        </nav>
        <figure class="sun">
            <img src="../static/images/sun.png" alt="sun">
        </figure>
    </header>

    <main>
        <a class="notify" href="./notify.html">
            <figure><img src="../static/images/notifications.png" alt="notifications"></figure>
            <h1>Notifications</h1>
        </a>

        <section>
            <div class="ref">
                <h3>Restez informe de nos actus...</h3>
                <ul>
                    <li>
                        <div class="head">
                            <h4>20/02/2025</h4>
                            <p>10h25</p>
                        </div>
                        <div class="list">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at atque dolorum ducimus eius esse fugit id, in iure labore laborum magnam maiores nam numquam odio officiis optio perferendis possimus quibusdam recusandae saepe sunt ut, vel? Accusantium commodi doloribus error placeat. Aperiam aspernatur facere nostrum provident quasi? Dicta excepturi, nulla.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="head">
                            <h4>20/02/2025</h4>
                            <p>10h25</p>
                        </div>
                        <div class="list">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at atque dolorum ducimus eius esse fugit id, in iure labore laborum magnam maiores nam numquam odio officiis optio perferendis possimus quibusdam recusandae saepe sunt ut, vel? Accusantium commodi doloribus error placeat. Aperiam aspernatur facere nostrum provident quasi? Dicta excepturi, nulla.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="head">
                            <h4>20/02/2025</h4>
                            <p>10h25</p>
                        </div>
                        <div class="list">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at atque dolorum ducimus eius esse fugit id, in iure labore laborum magnam maiores nam numquam odio officiis optio perferendis possimus quibusdam recusandae saepe sunt ut, vel? Accusantium commodi doloribus error placeat. Aperiam aspernatur facere nostrum provident quasi? Dicta excepturi, nulla.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="head">
                            <h4>20/02/2025</h4>
                            <p>10h25</p>
                        </div>
                        <div class="list">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at atque dolorum ducimus eius esse fugit id, in iure labore laborum magnam maiores nam numquam odio officiis optio perferendis possimus quibusdam recusandae saepe sunt ut, vel? Accusantium commodi doloribus error placeat. Aperiam aspernatur facere nostrum provident quasi? Dicta excepturi, nulla.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="head">
                            <h4>20/02/2025</h4>
                            <p>10h25</p>
                        </div>
                        <div class="list">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at atque dolorum ducimus eius esse fugit id, in iure labore laborum magnam maiores nam numquam odio officiis optio perferendis possimus quibusdam recusandae saepe sunt ut, vel? Accusantium commodi doloribus error placeat. Aperiam aspernatur facere nostrum provident quasi? Dicta excepturi, nulla.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="head">
                            <h4>20/02/2025</h4>
                            <p>10h25</p>
                        </div>
                        <div class="list">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at atque dolorum ducimus eius esse fugit id, in iure labore laborum magnam maiores nam numquam odio officiis optio perferendis possimus quibusdam recusandae saepe sunt ut, vel? Accusantium commodi doloribus error placeat. Aperiam aspernatur facere nostrum provident quasi? Dicta excepturi, nulla.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <script src="../static/js/index.js" defer></script>
    <script src="../static/js/notify.js" defer></script>
</body>
</html>